body{
    text-align: center;
    margin: 50px 0px;
    padding: 0px;
    background-image: url(Rk.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(171, 102, 235);
}
table th,td{
    margin-left: 200%;
    border: 4px solid black;
    border-collapse: #53A7DD;
    font-size: 100%;
    color: black;
    background-color: wheat;
}
caption{
    font-size: 150%;
    font-weight: bold;
    color: black;
}
ul{
    list-style-type: disc;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: black;
}
h1{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    color: floralwhite;
}
h2{
    font-size: 200%;
    color: floralwhite;
}
label{
    color: black;
}
form{
    background-color: rgb(226, 155, 128);
    display: inline-block;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #eb9494;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: rgb(85, 53, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: rgb(46, 194, 125);
    color: rgb(85, 53, 41);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
